<h1>Pages#index</h1>
<div>
  <ul>
    <li>Turboの使い方に慣れること</li>
    <li>検索してもわからない場合、turbo1つ1つを入れてみて動きを確認する</li>
    <li>サンプルコードをそのままコピペするのも1つの手段（手を動かす）</li>
    <li>TurboはModelを使う使わないは自由。</li>
  </ul>
</div>

<div style="margin-left: 20px">
  <H3>Turbo Drive Area</H3>
  <p>画面遷移するための機能。Todoアプリで使うことも可能かもしれないが一旦。</p>
  
</div>

<div style="margin-left: 20px">
  <H3>Turbo Frames Area</H3>
  <%= render "open_turbo_frame" %>
</div>

<div style="margin-left: 20px">
  <H3>Turbo Stream Area</H3>
  <%= render "open_turbo_stream" %>
</div>